h3
{ font-size: 50px;

}
h3{background: darkred;}

h1{background: darkblue;}

.head3{
	background-color: palevioletred; color: gray;
}
#p{
	font-size: 2.5pc; color: white; background-color: darkred;
}

#head3{
	background-color: cadetblue; 
}




